body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.firstsection {
    width: 100%;
    margin: 0;
    overflow: auto;
    background-image: url(../images/landing-page.jpg);
    background-size: cover;
    padding-bottom: 100px;
}

.navbar {
    width: 100%;
    margin: 0;
    overflow: auto;
    background-color: #003073;
}

nav {
    width: 90%;
    overflow: auto;
    margin: auto;
    padding: 5px 0px;
}

nav ul li {
    padding: 0px 22px;
    display: inline-block;
    margin: 0;
}

nav ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    text-decoration: none;
}

nav ul li a:hover {
    color: #007bff;
}

.freebtn {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    border-style: none;
    background-color: #1ea9fe;
    padding: 13px 35px;
    border-radius: 50px;
}

.freebtn:hover {
    color: #1ea9fe;
    background-color: #fff;
}

.container-row {
    width: 80%;
    overflow: auto;
    margin: auto;
}

.text-home {
    width: 60%;
    float: left;
    margin: 0;
    padding-top: 100px;
}

.text-home h1 {
    color: #fff;
    font-size: 47px;
    font-weight: 700;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    line-height: 65px;
    padding: 30px 50px 30px 0px;
}

.text-home p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    line-height: 24px;

}

.paragraph {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    line-height: 24px;
    padding: 0px 80px 70px 0px;

}

.iconbox {
    width: 25%;
    background-color: #22233c;
    float: left;
    overflow: auto;
    border-radius: 5px;
    padding: 12px;
    margin-right: 15px;
}

.iconbox h5 {
    float: right;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    padding: 0px 18px;
    margin: 0;
    line-height: 20px;
}

.small {
    font-size: 12px;
}

.iconbox:hover {
    background-color: #1ea9fe;
}

.homeimg {
    width: 40%;
    float: left;
    margin: 0;
    padding-top: 10px;
}

.profileimg {
    height: 500px;
    width: 100%;
    background-image: url(../images/home-mobile.png);
    background-size: cover;
    background-position: left;
    margin: 0;
}

.secondsection {
    width: 100%;
    overflow: auto;
    margin: 0;
}

.headabout {
    width: 90%;
    margin: auto;
    overflow: auto;
}

.headabout h2 {
    color: #212529;
    font-size: 36px;
    font-weight: 700;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    text-align: center;
}

.container-card {
    width: 100%;
    overflow: auto;
}

.container-about {
    width: 90%;
    overflow: auto;
    margin: auto;

}

.container-desc {
    width: 33.3%;
    float: left;
    padding: 20px 0px 40px 0px;
}

.card-image {
    text-align: center;
}

.card-document h2 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    text-align: center;
    padding: 20px 0px 5px 0px;
}

.card-document p {
    color: #56576e;
    font-size: 16px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    text-align: center;
    padding: 10px 40px;
}

.samebg {
    color: #fff;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 30px;
}

.bg1 {
    background-image: url(../images/service-shape-1.png);
}

.bg2 {
    background-image: url(../images/service-shape-2.png);
}

.bg3 {
    background-image: url(../images/service-shape-3.png);
}

.container-profile {
    width: 100%;
    overflow: auto;
    margin: 0;
}

.profile {
    width: 90%;
    margin: auto;
    overflow: auto;
}

.starprofile {
    width: 50%;
    float: left;
    margin: 0;
}

.aboutprofile {
    width: 50%;
    float: left;
    margin: 0;
    padding: 120px 0px;
}

.store {
    float: left;
    width: 40%;
    background-color: #22233c;
    padding: 10px;
    border-radius: 5px;
    margin-right: 15px;
}

.store h5 {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding-left: 15px;
}

.smallfnt {
    padding-right: 100px;
    font-size: 12px;
}

.store:hover {
    background-color: #1ea9fe;
}

.aboutwrite {
    width: 100%;
    float: left;
    margin: 0;
    padding: 30px 0px;
}

.aboutwrite h3 {
    color: #22233b;
    font-size: 24px;
    font-weight: 700;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    line-height: 33.3px;
}

.aboutwrite p {
    color: #56576e;
    font-size: 16px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    text-align: left;
    padding: 10px 10px 10px 0px;
    line-height: 25.6px;
}

.card-box {
    width: 100%;
    overflow: auto;
    margin: 0;
}

.card-part {
    width: 33.3%;
    float: left;
    margin: 0;
}

.card-million {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    text-align: center;
}

.bg4 {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/service-shape-1.png);
    padding: 35px;
}

.bg5 {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/space-2.png);
    padding: 35px;
}

.bg6 {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/space-3.png);
    padding: 35px;
}

.bgdoc h3 {
    color: #56576e;
    font-size: 22px;
    font-weight: 700;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
}
