body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.firstsection {
    width: 100%;
    margin: 0;
    overflow: auto;
    background-image: url(../images/landing-page.jpg);
    background-size: cover;
    padding-bottom: 100px;
}

.navbar {
    width: 100%;
    margin: 0;
    overflow: auto;
    background-color: #003073;
}

nav {
    width: 90%;
    overflow: auto;
    margin: auto;
    padding: 5px 0px;
}

nav ul li {
    padding: 0px 22px;
    display: inline-block;
    margin: 0;
}

nav ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    text-decoration: none;
}

nav ul li a:hover {
    color: #007bff;
}

.freebtn {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    border-style: none;
    background-color: #1ea9fe;
    padding: 13px 35px;
    border-radius: 50px;
}

.freebtn:hover {
    color: #1ea9fe;
    background-color: #fff;
}

.container-row {
    width: 80%;
    overflow: auto;
    margin: auto;
}

.text-home {
    width: 60%;
    float: left;
    margin: 0;
    padding-top: 100px;
}

.text-home h1 {
    color: #fff;
    font-size: 47px;
    font-weight: 700;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    line-height: 65px;
    padding: 30px 50px 30px 0px;
}

.text-home p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    line-height: 24px;

}

.paragraph {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    line-height: 24px;
    padding: 0px 80px 70px 0px;

}

.iconbox {
    width: 35%;
    background-color: #22233c;
    float: left;
    overflow: auto;
    border-radius: 5px;
    padding: 12px;
    margin-right: 15px;
}

.iconbox h5 {
    float: right;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    line-height: 20px;
    padding-left: 20px;
}

.small {
    font-size: 12px;
}

.iconbox:hover {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0.1s;
    background-color: #1ea9fe;
}

.homeimg {
    width: 40%;
    float: left;
    margin: 0;
    padding-top: 10px;
}

.profileimg {
    height: 500px;
    width: 100%;
    background-image: url(../images/home-mobile.png);
    background-size: cover;
    background-position: left;
    margin: 0;
}

.secondsection {
    width: 100%;
    overflow: auto;
    margin: 0;
}

.samehead {
    width: 90%;
    margin: auto;
    overflow: auto;
}

.samehead h2 {
    color: #212529;
    font-size: 36px;
    font-weight: 700;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    text-align: center;
}

.container-card {
    width: 100%;
    overflow: auto;
}

.container-about {
    width: 90%;
    overflow: auto;
    margin: auto;

}

.container-desc {
    width: 33.3%;
    float: left;
    padding: 20px 0px 40px 0px;
}

.card-image {
    text-align: center;
}

.card-document h2 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    text-align: center;
    padding: 20px 0px 5px 0px;
}

.card-document p {
    color: #56576e;
    font-size: 16px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    text-align: center;
    padding: 10px 40px;
}

.samebg {
    color: #fff;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 30px;
}

.bg1 {
    background-image: url(../images/service-shape-1.png);
}

.bg2 {
    background-image: url(../images/service-shape-2.png);
}

.bg3 {
    background-image: url(../images/service-shape-3.png);
}

.container-profile {
    width: 100%;
    overflow: auto;
    margin: 0;
}

.profile {
    width: 90%;
    margin: auto;
    overflow: auto;
}

.starprofile {
    width: 50%;
    float: left;
    margin: 0;
}

.aboutprofile {
    width: 50%;
    float: left;
    margin: 0;
    padding: 120px 0px;
}

.store {
    float: left;
    width: 40%;
    background-color: #22233c;
    padding: 10px;
    border-radius: 5px;
    margin-right: 15px;
}

.store h5 {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding-left: 15px;
}

.smallfnt {
    padding-right: 80px;
    font-size: 12px;
}

.store:hover {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0.1s;
    background-color: #1ea9fe;
}

.aboutwrite {
    width: 100%;
    float: left;
    margin: 0;
    padding: 30px 0px;
}

.aboutwrite h3 {
    color: #22233b;
    font-size: 24px;
    font-weight: 700;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    line-height: 33.3px;
}

.aboutwrite p {
    color: #56576e;
    font-size: 16px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    text-align: left;
    padding: 10px 10px 10px 0px;
    line-height: 25.6px;
}

.card-box {
    width: 100%;
    overflow: auto;
    margin: 0;
}

.card-part {
    width: 33.3%;
    float: left;
    margin: 0;
}

.card-million {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    text-align: center;
}

.samebgone {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 35px;
}

.bg4 {
    background-image: url(../images/service-shape-1.png);
}

.bg5 {
    background-image: url(../images/space-2.png);
}

.bg6 {
    background-image: url(../images/space-3.png);
}

.bgdoc h3 {
    color: #56576e;
    font-size: 22px;
    font-weight: 700;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
}

.card-lunatics {
    width: 100%;
    overflow: auto;
    margin: 0;
}

.lunatics-size {
    width: 90%;
    overflow: auto;
    margin: auto;
}

.lunatic-box {
    width: 33.33%;
    float: left;
    margin: 0;
    padding: 10px;
}

.desc-box {
    padding: 20px 20px 20px 30px;
    box-shadow: 0 0 30px -12px #c9c9c9;
}

.desc-box:hover {
    transform: translateY(-5px);
    transition: .4s;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    box-shadow: 0 0 30px -5px #c9c9c9;
}

.desc-box h3 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
}

.desc-box p {
    color: #56576e;
    font-size: 16px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    line-height: 25.6px;
    padding-right: 50px;
}

.sameicon {
    height: 60px;
    width: 60px;
    display: table;
    border-radius: 60px;
}

.desc-icon1 {
    background-color: #2d5baf;
}

.desc-icon2 {
    background-color: #23a8c0;
}

.desc-icon3 {
    background-color: #8822bf;
}

.desc-icon4 {
    background-color: #c02383;
}

.desc-icon5 {
    background-color: #e09f25;
}

.desc-icon6 {
    background-color: #22bf88;
}

.icon1 {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.foursection {
    width: 100%;
    overflow: auto;
    margin: 0;
}

.videoframe {
    width: 61%;
    margin: auto;
    overflow: auto;
}

.vidphoto {
    width: 100%;
    margin: 0;
    position: relative;
    padding: 90px 0px;
}

.vidicon {
    color: #fff;
    height: 5px;
    width: 5px;
    font-size: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    position: absolute;
    background-color: #1ea9fe;
    padding: 20px 70px 50px 50px;
    border-radius: 5px;

}

.vidicon:hover {
    color: red;
    background-color: #fff;
}

.sectionfive {
    width: 100%;
    margin: 0;
    overflow: auto;
}

.imageblock {
    width: 25%;
    float: left;
    padding: 15px;
}

.blockbox {
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 50px 0px;
}

.blockbox:hover {
    transform: translateY(-2%);
    transition: .4s;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.bottomdoc h3 {
    color: #22233b;
    font-size: 22px;
    font-weight: 700;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 25px 0px;
}

.sectionsix {
    width: 100%;
    overflow: auto;
    margin: 0;
    padding: 30px 0px;
}

.photogallery {
    width: 100%;
    overflow: auto;
}

.sixpart {
    width: 97%;
    margin: auto;
    overflow: auto;
    padding: 30px 0px;
}

.gallery {
    width: 25%;
    float: left;
    padding: 10px;
    margin: 0;
}

.samecard {
    height: 500px;
    width: 100%;
    background-size: contain;
    background-position: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.galleryone {
    background-image: url(../images/apps-screen-1.jpg);
}

.gallerysec {
    background-image: url(../images/apps-screen-2.jpg);
}

.gallerythird {
    background-image: url(../images/apps-screen-3.jpg);
}

.galleryfourth {
    background-image: url(../images/apps-screen-4.jpg);
}

.container-member {
    width: 100%;
    margin: 0;
    overflow: auto;
    padding: 50px 0px 30px 0px;
}

.card-member {
    width: 85%;
    overflow: auto;
    margin: auto;
}

.card-team {
    width: 33.3%;
    float: left;
    padding: 20px;
    margin: 0;
}

.schedule {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    margin: 0;
}

.schedule:hover {
    transition: .5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transform: translateY(-1%);
    background-color: #F5FBFF;
}

.schedule1 {
    padding: 30px 10px;
}

.schedule2 {
    padding: 30px 10px 40px 10px;
}

.schedule3 {
    padding: 30px 10px 60px 10px;
}

.card-title {
    text-align: center;
    margin: 0;
}

.card-title h3 {
    color: #1ea9fe;
    font-size: 36px;
    font-weight: 700;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 10px 0px;
}

.card-title h4 {
    color: #22233b;
    font-size: 18px;
    font-weight: 700;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 10px 0px;
}

.card-list {
    padding: 10px 0px;
}

.card-list ul li {
    color: #56576e;
    font-size: 16px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    padding: 10px 0px;
    list-style: none;
    margin: 0;
}

.card-btn {
    padding-top: 40px;
    text-align: center;
}

.card-btn3 {
    padding-top: 60px;
}

.btn {
    color: #26BAFF;
    border: 2px solid #26BAFF;
    padding: 17px 80px;
    background-color: transparent;
    border-radius: 1px;
}

.btn:hover {
    color: #fff;
    background-color: #26BAFF;
}

.check {
    padding-right: 10px;
}

.sectionseven {
    width: 100%;
    margin: 0;
    overflow: auto;
}

.container-founder {
    width: 100%;
    margin: 0;
    overflow: auto;

}

.founder {
    width: 25%;
    float: left;
    padding: 25px;
}

.founderbox {
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    padding-bottom: 20px;

}

.founder-part {
    width: 90%;
    margin: auto;
    overflow: auto;
}

.founderimg {
    width: 100%;
}

.founderimage:hover {
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transform: translateY(-1%);
}

.founderimage h4 {
    color: #22233b;
    font-size: 18px;
    font-weight: 700;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding-top: 15px;
}

.founderimage p {
    color: #56576e;
    font-size: 16px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 10px;
}

.sectioneight {
    width: 100%;
    overflow: auto;
    margin: 0;
}

.author-desc {
    width: 58%;
    margin: auto;
    overflow: auto;
    padding: 70px 0px;
}

.author-doc {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.author-doc h4,
h3 {
    color: #56576e;
    font-size: 16px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    line-height: 25px;
    padding: 20px;
}

.author-doc h3 {
    color: #1ea9fe;
    font-weight: 600;
}

.sectionnine {
    width: 100%;
    margin: 0;
    overflow: auto;
}

.container-blog {
    width: 90%;
    margin: auto;
    overflow: auto;
    padding: 50px 0px;
}

.div-blog {
    float: left;
    width: 50%;
    margin: 0;
}

.contain-doc {
    background-color: rgba(236, 234, 251, 0.3);
    margin: 15px;
    padding: 25px 13px;
}

.contain-doc h5 {
    color: #56576e;
    font-size: 16px;
    font-weight: 700;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 10px 0px;
}

.contain-doc p {
    color: #56576e;
    font-size: 16px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 10px 0px;
}

.sectionten {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: auto;
    background-image: url(../images/bg-2.jpg);
    background-size: cover;
    position: relative;
}

.doc-ten {
    position: absolute;
    width: 55%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding-left: 20px;
}

.doc-ten h3 {
    color: #22233b;
    font-size: 36px;
    font-weight: 700;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;

}

.doc-ten p {
    width: 80%;
    color: #56576e;
    font-size: 16px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding-left: 22px;
}

.iconboxone {
    width: 30%;
    background-color: #22233c;
    float: left;
    overflow: auto;
    border-radius: 5px;
    padding: 12px;
    margin-right: 10px;
    margin-top: 30px;
    margin-left: 20px;
}

.iconboxone h5 {
    float: right;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    line-height: 20px;
    padding-left: 25px;
}

.small {
    font-size: 12px;
}

.iconboxone:hover {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0.1s;
    background-color: #1ea9fe;
}

.sectioneleven {
    width: 100%;
    overflow: auto;
    margin: 0;
}

.imap {
    width: 100%;
    overflow: auto;
    margin: auto;
    padding-top: 50px;
}

.sectiontwelve {
    width: 100%;
    margin: 0;
    overflow: auto;
    padding: 50px 0px;
}

.twelve-card {
    width: 100%;
    margin: 0;
    overflow: auto;
}

.blog-card {
    width: 90%;
    overflow: auto;
    margin: auto;
    padding: 0px 30px;
}

.blog-part {
    width: 33.33%;
    float: left;
    margin: 0;
    box-sizing: border-box;
    padding: 20px;
}

.card-shadow {
    box-shadow: 0 0 20px 0 #f2f2f2;
    border: 1px solid #f2f2f2;
    margin: 0;
}

.shadow-img {
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 0;
    border-radius: 5px;

}

.shadowimgone {
    background-image: url(../images/blog-1.jpg);
}

.shadowimgtwo {
    background-image: url(../images/blog-2.jpg);
}

.shadowimgthree {
    background-image: url(../images/blog-3.jpg);
}

.shadow-doc {
    padding: 20px 0px;
}

.shadow-doc h5 {
    color: #56576e;
    font-size: 16px;
    font-weight: 700;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 15px 10px;
}

.shadow-doc h5:hover {
    color: #6858db;
}

.shadow-doc p {
    color: #56576e;
    font-size: 12px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 0px 10px;
}

.form-desc {
    width: 80%;
    margin: auto;
    overflow: auto;
    padding: 50px 0px;
}

.textname {
    width: 49%;
    float: left;
    margin: 0px;
    padding: 20px;
    border: 1px #d2d2db solid;
    border-radius: 6px;
}

.textemail {
    width: 49%;
    float: left;
    margin: 0px 10px;
    padding: 20px;
    border: 1px #d2d2db solid;
    border-radius: 6px;
}

.textsub {
    width: 99%;
    margin: 20px 0px;
    padding: 20px;
    border-style: none;
    border: 1px #d2d2db solid;
    border-radius: 6px;

}

.textarea {
    color: #56576e;
    width: 99%;
    margin: 10px 0px;
    border-style: none;
    border: 1px #d2d2db solid;
    border-radius: 6px;
}

.contactbtn {
    padding: 40px 0px;
    text-align: center;
}

.cntbtn {
    color: #26BAFF;
    font-size: 16px;
    font-weight: 550;
    border: 1px solid #26BAFF;
    padding: 20px 50px;
    background-color: transparent;
    border-radius: 100px;
}

.cntbtn:hover {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0.1s;
    color: #fff;
    background-color: #26BAFF;
}

.footer {
    width: 100%;
    margin: 0;
    overflow: auto;
    background-color: #f7f7f7;
}

.footercenter {
    width: 90%;
    margin: auto;
    overflow: auto;
    padding: 50px 0px;
}

.footer1 {
    width: 25%;
    float: left;
    margin: 0;
    text-align: center;
}

.ftleft1 {
    width: 100%;
    margin: 0;
}

.ftimg {
    text-align: left;
    padding: 10px 30px;
}

.ftleft1 p {
    color: #56576e;
    font-size: 16px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    text-align: left;
    padding: 10px 30px;
}

.btp {
    color: #56576e;
    font-size: 16px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    text-align: left;
    padding: 0px 30px;
}

.iconawesome ul {
    padding: 0px 25px;
    overflow: auto;
}

.iconawesome ul li {
    float: left;
    list-style: none;
    padding: 0px 5px;
}

.smicon {
    height: 40px;
    width: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 12px 0px;
    text-align: center;
}

.fb {
    background-color: #3b5999;
}

.twitter {
    background-color: #55acee;
}

.google {
    background-color: #dd4b39;
}

.youtube {
    background-color: #e4405f;
}

.ftleft2 {
    width: 100%;
    margin: 0;
    padding-left: 30px;
}

.sameft h4 {
    color: #22233b;
    font-size: 18px;
    font-weight: 700;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    text-align: left;
}

.sameft p {
    color: #56576e;
    font-size: 16px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    text-decoration-line: none;
    margin: 0;
}

.ftleft2 ul {
    padding: 0px;
}

.ftleft2 ul li {
    list-style: none;
    text-align: left;
    padding: 8px 0px;

}

.ftleft2 ul li a {
    color: #56576e;
    font-size: 16px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    text-decoration-line: none;
}

.ftleft3 {
    width: 100%;
    margin: 0;
}


.ftleft3 ul {
    padding: 0px;
    text-align: left;
}

.ftleft3 ul li {
    list-style: none;
    margin: 0;
    padding: 20px 0px;
}

.ftleft3 span {
    color: #22233b;
    font-size: 16px;
    font-weight: 700;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding-left: 5px;
}

.ftleft3 p {
    padding-right: 5px;
}

.ftleft4 {
    width: 100%;
    margin: 0;
    text-align: left;
}

.ftleft4 p {
    padding: 20px 0px;
}

.ftsub {
    padding: 30px 0px;
    margin: 0;
}

.ftsubbtn {
    padding: 20px 30px;
    border: none;
    border-radius: 50px;
    border: 1px solid #26BAFF;
}

.sub-button {
    color: #fff;
    padding: 20px;
    border: none;
    background-color: #26BAFF;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-left: -50px;
}

.fixed {
    height: 50px;
    width: 50px;
    right: 20px;
    bottom: 20px;
    font-size: 22px;
    position: fixed;
    color: white;
    background-color: #26BAFF;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
}
