body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.firstsection {
    width: 100%;
    margin: 0;
    overflow: auto;
    background-image: url(../images/landing-page.jpg);
    background-size: cover;
    padding-bottom: 100px;
}

.navbar {
    width: 100%;
    margin: 0;
    overflow: auto;
    background-color: #003073;
}

nav {
    width: 90%;
    overflow: auto;
    margin: auto;
    padding: 5px 0px;
}

nav ul li {
    padding: 0px 22px;
    display: inline-block;
    margin: 0;
}

nav ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    text-decoration: none;
}

nav ul li a:hover {
    color: #007bff;
}

.freebtn {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    border-style: none;
    background-color: #1ea9fe;
    padding: 13px 35px;
    border-radius: 50px;
}

.freebtn:hover {
    color: #1ea9fe;
    background-color: #fff;
}

.container-row {
    width: 80%;
    overflow: auto;
    margin: auto;
}

.text-home {
    width: 60%;
    float: left;
    margin: 0;
    padding-top: 100px;
}

.text-home h1 {
    color: #fff;
    font-size: 47px;
    font-weight: 700;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    line-height: 65px;
    padding: 30px 50px 30px 0px;
}

.text-home p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    line-height: 24px;

}

.paragraph {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    line-height: 24px;
    padding: 0px 80px 70px 0px;

}

.iconbox {
    width: 25%;
    background-color: #22233c;
    float: left;
    overflow: auto;
    border-radius: 5px;
    padding: 12px;
    margin-right: 15px;
}

.iconbox h5 {
    float: right;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    padding: 0px 18px;
    margin: 0;
    line-height: 20px;
}

.small {
    font-size: 12px;
}

.iconbox:hover {
    background-color: #1ea9fe;
}

.homeimg {
    width: 40%;
    float: left;
    margin: 0;
    padding-top: 10px;
}

.profileimg {
    height: 500px;
    width: 100%;
    background-image: url(../images/home-mobile.png);
    background-size: cover;
    background-position: left;
    margin: 0;
}

.secondsection {
    width: 100%;
    overflow: auto;
    margin: 0;
}

.headabout {
    width: 90%;
    margin: 0;
    overflow: auto;
}

.headabout h2 {
    color: #212529;
    font-size: 36px;
    font-weight: 700;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    text-align: center;
}

.container-card {
    width: 100%;
    overflow: auto;
}

.container-about {
    width: 90%;
    overflow: auto;
    margin: auto;

}

.container-desc {
    width: 33.3%;
    float: left;
}
.card-image{
    text-align: center;
}

.card-document h2 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    text-align: center;
}

.card-document p {
    color: #56576e;
    font-size: 16px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    letter-spacing: normal;
    margin: 0;
    text-align: center;
    padding:10px 40px;
    
}
